<html>
    <head>
        <title>Add Job</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
            crossorigin="anonymous">
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
	 <nav class="navbar bg-dark text-light">
		 <a class="navbar-brand">Alfredows</a>
	 </nav>
	 <section class="container mt-5">
		 <div class="row">
			<div class="col">
				<h1 class="text-center">
					Hello stranger! 
				</h1>
			</div>
		 </div>

		 <div class="row">
		        <div class="col">
		        	<h4 class="text-center">
		        		My name is {{name}}	
		        	</h4>
		        </div>

                         <div class="col">                       		
                         	<h4 class="text-center">
                         		And I'm a developer	
                         	</h4>
                         </div>
		 </div>
	</section>
    </body>
</html>
